<h1>hello world</h1>

<body>

        {% if user.is_authenticated %}
            <li class="nav-item">
              <p>{{user.username}}</p>
              <form action="logout/" method="POST">
                {% csrf_token %}
              <input type="submit" value="Log out">
              </form>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">로그인</a>
            </li>
          {% endif %}
    
</body>